<h1>Hello Recuperare!</h1>
<p>Buscame en app/views/home/index.html.erb</p>
<div>
  <h3>Manya</h3><br>
  <p>
  	Te dije que avanze las <%= link_to "Vias", tb_via_path %>
  </p>
</div>

<footer>
	<div>
		<h2>O puedes venir a nuestro :
			<a 
			href="http://192.168.2.6:8080/sinc-financiero/login.htm" 
				target="_blank">
		 	last project
			</a>
		</h2>
	</div>
	<div>
		<h3>
			O puedes revisar nuestros <%= link_to "mini_pagos", mini_pagos_path %>
		</h3>
	</div>
</footer>
